<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
      <title>{% block titulo %}ISFD Tobar Garcia - La Rioja{% endblock %}</title>
      <!-- Bootstrap core CSS -->
      <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <!-- Custom styles for this template -->
       <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">ISFD Dr. Carolina Tobar Garcia</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('nosotros') }}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('ubicacion') }}">Ubicación</a>
        </li>

      {% if app.user %}
            <li class="nav-item">

               <a class="nav-link" href="{{ path('logout') }}">Salir</a>
            </li>
            <li class="nav-item">

               <a class="nav-link" href="{{ path('inscripcion')}}">Preinscripción 2020</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sigedu
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="#">Cursadas</a>
                <a class="dropdown-item" href="#">Rendidas</a>
                <a class="dropdown-item" href="#">ficha o Estado Académico</a>
                <a class="dropdown-item" href="#">Certificados</a>

              </div>
            </li>
      {% else %}

           <li class="nav-item">
              <a class="nav-link" href="{{ path('login') }}">Login</a>
           </li>
     {% endif %}

    </ul>
    </div>
  </div>
</nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;
Tobar software development</p>
          </div>
        <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
