<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
      <title>{% block titulo %}ISFD Tobar Garcia - La Rioja{% endblock %}</title>
      <!-- Bootstrap core CSS -->
      <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <!-- Custom styles for this template -->
       <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">ISFD Dr. Carolina Tobar Garcia</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('nosotros') }}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('ubicacion') }}">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">1 Column Portfolio</a>
            <a class="dropdown-item" href="#">2 Column Portfolio</a>
            <a class="dropdown-item" href="#">3 Column Portfolio</a>
            <a class="dropdown-item" href="#">4 Column Portfolio</a>
            <a class="dropdown-item" href="#">Single Portfolio Item</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="#">Blog Home 1</a>
            <a class="dropdown-item" href="#">Blog Home 2</a>
            <a class="dropdown-item" href="#">Blog Post</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otras Páginas
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="#">Full Width Page</a>
            <a class="dropdown-item" href="#">Sidebar Page</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <a class="dropdown-item" href="#">404</a>
            <a class="dropdown-item" href="#">Pricing Table</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;
Tobar software development</p>
          </div>
        <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
